<!doctype html>
<html lang=en>

<head>
    <title>Werewolf</title>
</head>

<body>
    <form action="game" method="post">
        <div><label for="name">Name:</label></div>
        <div>
            <input name="name" type="text">
            <button type="submit">Login</button>
        </div>

    </form>
</body>

</html>